*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-image:url('https://images.unsplash.com/photo-1517697471339-4aa32003c11a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
  background-size: 100%;
  background-repeat: no-repeat;
}

.resumeHolder{
  background-image:url('https://images.unsplash.com/photo-1517697471339-4aa32003c11a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
  background-size: 100%;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  color: Black;
  font-family: inherit;
}

h1, h2, h3, h4{
  font-family: inherit;

}

img{
  border-radius: 25px;
  box-shadow: 2px 5px 5px white;
  margin-left: 400px;
  margin-top: 60px;
}

img.pokedex{
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a, .links{
  display: inline-block;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: inherit;
  background-color: rgb(188, 234, 234);
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

h1{
  margin-bottom: 10px;
}

.resume{
  border-radius: 15px;
  border:none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.videoproject{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.projects{
  margin-left: 10px;
  float: left;
}

.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.icon{
  width: 50px;
  height: 50px;
  margin: auto;
}

p, .icon{
  margin: auto;
  display: inline;
  margin-left: 10px;
}

p{
  font-size: 18px;
}
.download{
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}

.pending {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 200px;
}