.App {
  text-align: center;
  color: Black;
  background-image:url('https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1062&q=80');
  background-size: 100%;
}

img{
  border-radius: 15px;
  box-shadow: 2px 5px 5px palevioletred;
}